In [1]:
import pandas as pd
df =pd.read_csv(r"C:\Users\Varshini V\OneDrive\Documents\VS_code\venv\Content_Monetization\youtube_ad_revenue_dataset.csv")
df

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388
...,...,...,...,...,...,...,...,...,...,...,...,...
122395,vid_2902,2024-12-14 10:50:40.993199,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396
122396,vid_3890,2024-07-13 10:50:40.993199,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981
122397,vid_3934,2024-06-10 10:50:40.993199,10267,700.0,NaN,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106
122398,vid_4260,2024-12-22 10:50:40.993199,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811
122399,vid_1056,2024-06-25 10:50:40.993199,9931,770.0,NaN,38466.837135,27.305703,517587,Tech,TV,CA,253.842824

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              122400 non-null  object
 1   date                  122400 non-null  object
 2   views                 122400 non-null  int64
 3   likes                 116283 non-null  float64
 4   comments              116288 non-null  float64
 5   watch_time_minutes    116295 non-null  float64
 6   video_length_minutes  122400 non-null  float64
 7   subscribers           122400 non-null  int64
 8   category              122400 non-null  object
 9   device                122400 non-null  object
 10  country               122400 non-null  object
 11  ad_revenue_usd        122400 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 11.2+ MB

In [3]:
df.isna().sum()

video_id                   0
date                       0
views                      0
likes                   6117
comments                6112
watch_time_minutes      6105
video_length_minutes       0
subscribers                0
category                   0
device                     0
country                    0
ad_revenue_usd             0
dtype: int64

In [4]:
df.fillna(method='ffill', inplace=True)

C:\Users\Varshini V\AppData\Local\Temp\ipykernel_7124\3970806690.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [5]:
df.isna().sum()

video_id                0
date                    0
views                   0
likes                   0
comments                0
watch_time_minutes      0
video_length_minutes    0
subscribers             0
category                0
device                  0
country                 0
ad_revenue_usd          0
dtype: int64

In [6]:
df["video_id"] = df["video_id"].str.replace("vid_", "").astype(int)

In [7]:
df["Year"] = pd.to_datetime(df["date"]).dt.year
df["Month"] = pd.to_datetime(df["date"]).dt.month
df["Day"] = pd.to_datetime(df["date"]).dt.day

In [8]:
df.drop(columns=["date"], inplace=True)

In [9]:
for j in df.select_dtypes(include="object").columns:
  print(j,df[j].unique())

category ['Entertainment' 'Gaming' 'Education' 'Music' 'Tech' 'Lifestyle']
device ['TV' 'Tablet' 'Mobile' 'Desktop']
country ['IN' 'CA' 'UK' 'US' 'DE' 'AU']

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoding=LabelEncoder()
for j in df.select_dtypes(include="object").columns:
    df[j]=encoding.fit_transform(df[j])

In [10]:
df["engagement rate"] = (df["likes"] + df["comments"]) / df["views"]
df

,video_id,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,Year,Month,Day,engagement rate
0,3092,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237,2024,9,24,0.155093
1,3459,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508,2024,9,22,0.098632
2,4784,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008,2024,11,21,0.214519
3,4078,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261,2025,1,28,0.142814
4,3522,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388,2025,4,28,0.236121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,2902,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396,2024,12,14,0.184715
122396,3890,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981,2024,7,13,0.174961
122397,3934,10267,700.0,63.0,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106,2024,6,10,0.074316
122398,4260,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811,2024,12,22,0.168164
122399,1056,9931,770.0,106.0,38466.837135,27.305703,517587,Tech,TV,CA,253.842824,2024,6,25,0.088209

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              122400 non-null  int64
 1   views                 122400 non-null  int64
 2   likes                 122400 non-null  float64
 3   comments              122400 non-null  float64
 4   watch_time_minutes    122400 non-null  float64
 5   video_length_minutes  122400 non-null  float64
 6   subscribers           122400 non-null  int64
 7   category              122400 non-null  object
 8   device                122400 non-null  object
 9   country               122400 non-null  object
 10  ad_revenue_usd        122400 non-null  float64
 11  Year                  122400 non-null  int32
 12  Month                 122400 non-null  int32
 13  Day                   122400 non-null  int32
 14  engagement rate       122400 non-null  float64
dtypes: float64(6), int32(3), int64(3), object(3)
memory usage: 12.6+ MB

In [12]:
df

,video_id,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd,Year,Month,Day,engagement rate
0,3092,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237,2024,9,24,0.155093
1,3459,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508,2024,9,22,0.098632
2,4784,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008,2024,11,21,0.214519
3,4078,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261,2025,1,28,0.142814
4,3522,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388,2025,4,28,0.236121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122395,2902,9853,1673.0,147.0,42075.704885,25.490195,210818,Education,Tablet,US,280.986396,2024,12,14,0.184715
122396,3890,10128,1709.0,63.0,57563.703040,16.229133,878860,Music,Desktop,UK,354.612981,2024,7,13,0.174961
122397,3934,10267,700.0,63.0,27549.714659,23.822365,576756,Tech,Tablet,CA,203.643106,2024,6,10,0.074316
122398,4260,10240,1616.0,106.0,56967.384382,7.753099,585138,Music,Mobile,UK,351.525811,2024,12,22,0.168164
122399,1056,9931,770.0,106.0,38466.837135,27.305703,517587,Tech,TV,CA,253.842824,2024,6,25,0.088209

In [13]:
df.drop(columns=["video_id"], inplace=True)

In [17]:
df.to_csv(r"C:\Users\Varshini V\OneDrive\Documents\VS_code\venv\Content_Monetization\cleaned_dataset.csv", index=False)